<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="error">
    <Properties>
        <Property name="logFileBase">D:\\logs</Property>
        <Property name="logFile">${logFileBase}\\logFile.log</Property>
        <Property name="rollingLogFile">${logFileBase}\\rollingLogFile.log</Property>
    </Properties>
    <Appenders>
        <!--
            name名字
                自己取
            console的target取值
                默认值 SYSTEM_OUT 可取值为 SYSTEM_ERR 和 SYSTEM_OUT 你写错了没事 底层启动会自动使用默认值
                底层会读取你写的值 是否跟 org.apache.logging.log4j.core.appender.ConsoleAppender类的 Target枚举值的名字是否相同 不同则是默认值
        -->
        <Console name="std" target="SYSTEM_OUT"  >
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} - %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--
            自定义日志appender 记录器的意思
            name
                名字自己取
            type:类型
                可取值如下:

        -->

        <File name="fileLog" fileName="${logFile}" >

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>


        <RollingFile name="rollingFileLog" fileName="${rollingLogFile}"    filePattern="${logFileBase}/${date:yyyy-MM}/xjj-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
        </RollingFile>




    </Appenders>
    <Loggers>
        <!--
            专门制定这个包 日志级别
        -->
        <logger name="org.springframework" level="INFO"></logger>

        <Root level="debug" >
            <AppenderRef ref="std"></AppenderRef>
            <AppenderRef ref="fileLog" level="debug"  ></AppenderRef>
            <!--<AppenderRef ref="rollingFileLog" level="debug"  ></AppenderRef>-->
        </Root>

    </Loggers>
</Configuration>
